<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="CompanyConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\company.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>-->
  <system.diagnostics>
    	<trace autoflush="true">
    		<listeners>
    			<add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
    			<!--<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>-->
    		</listeners>
    	</trace>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.4000" newVersion="2.1.2.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>